.boolean-field-container {
    width: 100%;
}

.boolean-field-title {
    width: 100%;
    padding-left: 5px;
    text-align: left;
}

.boolean-field-title span {
    font-size: 14px;
    color: #8f8f8f;
    padding-left: 5px;
}

.boolean-field-switch {
    width: 100%;
    margin-top: 5px;
}

.boolean-field-switch-inner {
    width: 100%;
    text-align: left;
}