.field-container {
    width: 100%;
    margin-bottom: 30px;
}

.field-title {
    width: 100%;
    text-align: left;
}

.field-title span {
    font-size: 14px;
    color: #8f8f8f;;
}

.field-input {
    width: 100%;
    margin-top: 10px;
}

.array-field-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.array-field-table th, .array-field-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.array-field-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.array-field-container{
    margin-bottom: 60px;
}

.add-item-btn{
    margin-top: 20px;
    padding: 5px 5px; 
}